################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs
usov/LT1/.idea/.gitignore
usov/LT2/.vscode/launch.json
usov/LT3/.vscode/launch.json
usov/LT4/.vscode/launch.json
